.wrapper {
  border-radius: 1rem;

  background-color: var(--white-cl);
  box-shadow: var(--shadow);
}

.addressList {
  padding: 1rem;

  border-bottom: 1px var(--stroke-cl) solid;

  li:first-child {
    margin-bottom: 1rem;
  }
}

.addressItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
}

.city {
  font-weight: 700;
}

.street {
  color: var(--secondary-text-cl);
}

.dateWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.date {
  font-weight: 600;
}
