@import './base/normalize';
@import './base/fonts';
@import './utils/variables';

body {
  font-family: var(--font-urbanist);
  font-size: 16px;
  font-weight: 400;

  color: var(--primary-text-cl);
  background-color: var(--bg-cl);
}
